@font-face {
    font-family: 'Deltarune';
    src: url(../fonts/deltarune.ttf);
}
* {
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
    border: 0px;
    margin: 0px;
}
body{
    background: linear-gradient(to right, purple, black);
    background-repeat: repeat-y;
}
header{
    background-color: black;
    text-align: center;
    padding: 20px;
}
#header{
    color:white;
    font-family: 'Deltarune';
    font-size: 2.5vmax;
}
#theme-btn{
    background-color: blueviolet;
    font-family: 'Deltarune';
    color: white;
    padding: 10px;
    border-radius: 1vmax;
}
nav {
    text-align: center;
    font-size: clamp( 10px, 2vmax, 75px);
    background: blueviolet;
}
.nav-link{
    border-radius: 1vmax;
}
.navbar-toggle{
    width: 50px;
    background-image: url(../images/heart.png);
}
#Selected_Page{
    border-radius: 1vmax;
    background-color: white;
    color: black;
}
#hovered{
    border-radius: 1vmax;
    color: blueviolet;
    background-color: black;
}
section{
    border: 10px;
    margin: 30px;
    min-height: 70vh;
    background-color: rgba(238, 130, 238, 0.479);
}
.page-intro{
    font-weight: bold;
    font-size: 3vmax;
}
article{
    font-weight: bold;
    font-size: 2vmax;
}
footer{
    font-size: 2vmax;
    background-color:blueviolet;
    text-align: center;
    color: white;
}
.footer{
    font-size:2vmax;
}
