
* {
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
    border: 0px;
    margin: 0px;
}
body{
    background-color: rgb(117, 201, 169);
    background-image: url(../images/background.png);
    background-repeat: repeat-y;
    background-size: cover;
}
header{
    background-color: white;
    text-align: center;
}

nav {
    text-align: center;
    font-size: 25px;
    background-color: aquamarine;
}
.nav-link{
    border-radius: 10px;
}
#Selected_Page{
    border-radius: 10px;
    background-color: black;
    color: aquamarine;
}
#hovered{
    border-radius: 10px;
    background-color: white;
}
section{
    border: 10px;
    margin: 15px;
    min-height: 500px;
    background-color: rgba(202, 255, 235, 0.507);
}
h1{
    font-weight: bold;
}
article{
    font-weight: bold;
    font-size: 25px;
}
footer{
    font-size: 20px;
    background-color: aquamarine;
    text-align: center;
}
.footer{
    font-size: xx-small;
}