@font-face {
    font-family: 'Deltarune';
    src: url(../fonts/deltarune.ttf);
}
* {
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
    border: 0px;
    margin: 0px;
}
body{
    background-image: url(../images/background.png);
    background-repeat: repeat-y;
    background-size: contain;
}



header{
    background-color: white;
    text-align: center;
    padding: 20px;
}
#header{
    font-family: 'Deltarune';
    font-size: 2.5vmax;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: aquamarine;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}


nav {
    text-align: center;
    font-size: clamp( 10px, 2vmax, 75px);
    background-color: aquamarine;
}
.nav-link{
    border-radius: 1vmax;
}
.navbar-toggle{
    width: 50px;
    background-image: url(../images/heart.png);
}
#Selected_Page{
    border-radius: 1vmax;
    background-color: black;
    color: aquamarine;
}
#hovered{
    border-radius: 1vmax;
    background-color: white;
}



section{
    border: 10px;
    margin: 30px;
    min-height: 70vh;
    background-color: rgba(202, 255, 235, 0.500);
}
.page-intro{
    font-weight: bold;
    font-size: 3vmax;
}
article{
    font-weight: bold;
    font-size: 2vmax;
}
#games_header{
    font-family: Deltarune;
    font-weight: bold;
    font-size: clamp( 15px, 3vmax, 125px);
}
#game{
    width: 100%;
    height: 75vh
}#game_bar{
    background: aquamarine;
    text-align: center;
    font-size: clamp( 10px, 2vmax, 75px);
    margin: 10px;
}
.game_selector{
    color: blueviolet !important;
    border-radius: 1vmax;
    text-decoration: 0px !important;
}
#hovered_g{
    border-radius: 1vmax;
    background-color: white;
}



footer{
    font-size: 2vmax;
    background-color: aquamarine;
    text-align: center;
}
.footer{
    font-size:2vmax;
}
.contacts{
    color: blueviolet !important;
}